 
/* start css.sty */
.ec-lmr-10x-x-109{}
.ts1-lmr10-x-x-109{}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-10x-x-109{ font-weight: bold;}
.ec-lmbx-12{font-size:109%; font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.ec-lmbx-12{ font-weight: bold;}
.rm-lmr-10x-x-109{}
.rm-lmr-8{font-size:72%;}
.lmmi-10x-x-109{}
.lmsy-10x-x-109{}
.lmex-10{font-size:90%;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmri-10x-x-109{ font-style:italic;}
.ec-lmr-10{font-size:90%;}
.ec-lmr-9{font-size:81%;}
.ec-lmri-10{font-size:90%; font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ec-lmri-10{ font-style:italic;}
.ts1-lmr10-{font-size:90%;}
.ec-lmtt-10{font-size:90%; font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-10{ font-family: monospace,monospace;}
.ec-lmtt-9{font-size:81%; font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmtt-9{ font-family: monospace,monospace;}
.ec-lmri-9{font-size:81%; font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmri-9{ font-style:italic;}
.ec-lmbx-10{font-size:90%; font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmbx-10{ font-weight: bold;}
.ec-lmr-12{font-size:109%;}
.ec-lmr-6{font-size:54%;}
.ec-lmr-12x-x-120{font-size:130%;}
.grmn-1000x-x-109{}
.ts1-lmr9-{font-size:81%;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
table.tabular{border-collapse: collapse; border-spacing: 0;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {margin-left:2em;}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {margin-left:4em;}
.chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:6em;}
 .likesectionToc , .sectionToc {margin-left:0em;}
 .likesectionToc ~ .likesubsectionToc, .likesectionToc ~ .subsectionToc, .sectionToc ~ .likesubsectionToc, .sectionToc ~ .subsectionToc {margin-left:2em;}
.likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:4em;}
 .likesubsectionToc, .subsectionToc {margin-left:0em;}
 .likesubsectionToc ~ .subsubsectionToc, .subsectionToc ~ .subsubsectionToc {margin-left:2em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.float img, figure.figure img {display: block; margin-left: auto; margin-right: auto;}
figure.figure > p {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.rotatebox{display: inline-block;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
div.array {text-align:center;}
td#TBL-1-2-1{border-bottom:0.12193em solid}
td#TBL-1-4-1{border-bottom:0.07622em solid}
td#TBL-1-10-1{border-bottom:0.12193em solid}
td#TBL-2-2-1{border-bottom:0.12193em solid}
td#TBL-2-4-1{border-bottom:0.07622em solid}
td#TBL-2-10-1{border-bottom:0.12193em solid}
td#TBL-3-2-1{border-bottom:0.12193em solid}
td#TBL-3-4-1{border-bottom:0.07622em solid}
td#TBL-3-12-1{border-bottom:0.12193em solid}
td#TBL-4-2-1{border-bottom:0.12193em solid}
td#TBL-4-14-1{border-bottom:0.12193em solid}
td#TBL-5-2-1{border-bottom:0.12193em solid}
td#TBL-5-4-1{border-bottom:0.07622em solid}
td#TBL-5-7-1{border-bottom:0.12193em solid}
td#TBL-6-2-1{border-bottom:0.12193em solid}
td#TBL-6-4-1{border-bottom:0.07622em solid}
td#TBL-6-7-1{border-bottom:0.12193em solid}
td#TBL-7-2-1{border-bottom:0.12193em solid}
td#TBL-7-4-1{border-bottom:0.07622em solid}
td#TBL-7-9-1{border-bottom:0.12193em solid}
td#TBL-8-2-1{border-bottom:0.12193em solid}
td#TBL-8-4-1{border-bottom:0.07622em solid}
td#TBL-8-11-1{border-bottom:0.12193em solid}
td#TBL-9-2-1{border-bottom:0.12193em solid}
td#TBL-9-9-1{border-bottom:0.12193em solid}
td#TBL-10-2-1{border-bottom:0.12193em solid}
td#TBL-10-4-1{border-bottom:0.07622em solid}
td#TBL-10-15-1{border-bottom:0.12193em solid}
td#TBL-11-2-1{border-bottom:0.12193em solid}
td#TBL-11-4-1{border-bottom:0.07622em solid}
td#TBL-11-14-1{border-bottom:0.12193em solid}
td#TBL-12-2-1{border-bottom:0.12193em solid}
td#TBL-12-4-1{border-bottom:0.07622em solid}
td#TBL-12-10-1{border-bottom:0.12193em solid}
td#TBL-13-2-1{border-bottom:0.12193em solid}
td#TBL-13-4-1{border-bottom:0.07622em solid}
td#TBL-13-11-1{border-bottom:0.12193em solid}
td#TBL-14-2-1{border-bottom:0.12193em solid}
td#TBL-14-13-1{border-bottom:0.12193em solid}
td#TBL-15-1-1{border-bottom:0.12193em solid}
td#TBL-15-9-1{border-bottom:0.12193em solid}
td#TBL-16-1-1{border-bottom:0.12193em solid}
td#TBL-16-8-1{border-bottom:0.07622em solid}
td#TBL-16-24-1{border-bottom:0.07622em solid}
td#TBL-16-39-1{border-bottom:0.07622em solid}
td#TBL-16-53-1{border-bottom:0.07622em solid}
td#TBL-16-62-1{border-bottom:0.12193em solid}
td#TBL-17-2-10{border-bottom:0.12193em solid}
td#TBL-17-4-10{border-bottom:0.07622em solid}
td#TBL-17-15-9{border-bottom:0.07622em solid}
td#TBL-17-28-9{border-bottom:0.07622em solid}
td#TBL-17-35-9{border-bottom:0.07622em solid}
td#TBL-17-44-9{border-bottom:0.07622em solid}
td#TBL-17-46-9{border-bottom:0.12193em solid}
td#TBL-18-2-1{border-bottom:0.12193em solid}
td#TBL-18-4-1{border-bottom:0.07622em solid}
td#TBL-18-9-1{border-bottom:0.12193em solid}
td#TBL-19-1-1{border-bottom:0.12193em solid}
td#TBL-19-3-1{border-bottom:0.07622em solid}
td#TBL-19-9-1{border-bottom:0.12193em solid}
td#TBL-20-1-1{border-bottom:0.12193em solid}
td#TBL-20-3-1{border-bottom:0.07622em solid}
td#TBL-20-10-1{border-bottom:0.12193em solid}
td#TBL-21-1-1{border-bottom:0.12193em solid}
td#TBL-21-3-1{border-bottom:0.07622em solid}
td#TBL-21-9-1{border-bottom:0.12193em solid}
td#TBL-22-1-1{border-bottom:0.12193em solid}
td#TBL-22-3-1{border-bottom:0.07622em solid}
td#TBL-22-11-1{border-bottom:0.12193em solid}
td#TBL-23-1-1{border-bottom:0.12193em solid}
td#TBL-23-3-1{border-bottom:0.07622em solid}
td#TBL-23-11-1{border-bottom:0.12193em solid}
td#TBL-24-1-1{border-bottom:0.12193em solid}
td#TBL-24-3-1{border-bottom:0.07622em solid}
td#TBL-24-11-1{border-bottom:0.12193em solid}
td#TBL-25-1-1{border-bottom:0.12193em solid}
td#TBL-25-3-1{border-bottom:0.07622em solid}
td#TBL-25-9-1{border-bottom:0.12193em solid}
td#TBL-26-1-1{border-bottom:0.12193em solid}
td#TBL-26-3-1{border-bottom:0.07622em solid}
td#TBL-26-9-1{border-bottom:0.12193em solid}
td#TBL-27-1-1{border-bottom:0.12193em solid}
td#TBL-27-3-1{border-bottom:0.07622em solid}
td#TBL-27-9-1{border-bottom:0.12193em solid}
td#TBL-28-1-1{border-bottom:0.12193em solid}
td#TBL-28-3-1{border-bottom:0.07622em solid}
td#TBL-28-10-1{border-bottom:0.12193em solid}
td#TBL-29-1-1{border-bottom:0.12193em solid}
td#TBL-29-3-1{border-bottom:0.07622em solid}
td#TBL-29-9-1{border-bottom:0.12193em solid}
td#TBL-30-1-1{border-bottom:0.12193em solid}
td#TBL-30-3-1{border-bottom:0.07622em solid}
td#TBL-30-9-1{border-bottom:0.12193em solid}
td#TBL-31-1-1{border-bottom:0.12193em solid}
td#TBL-31-3-1{border-bottom:0.07622em solid}
td#TBL-31-9-1{border-bottom:0.12193em solid}
td#TBL-32-1-1{border-bottom:0.12193em solid}
td#TBL-32-3-1{border-bottom:0.07622em solid}
td#TBL-32-9-1{border-bottom:0.12193em solid}
td#TBL-33-1-1{border-bottom:0.12193em solid}
td#TBL-33-3-1{border-bottom:0.07622em solid}
td#TBL-33-9-1{border-bottom:0.12193em solid}
td#TBL-34-1-1{border-bottom:0.12193em solid}
td#TBL-34-3-1{border-bottom:0.07622em solid}
td#TBL-34-10-1{border-bottom:0.12193em solid}
td#TBL-35-2-1{border-bottom:0.12193em solid}
td#TBL-35-4-1{border-bottom:0.07622em solid}
td#TBL-35-13-1{border-bottom:0.12193em solid}
td#TBL-36-2-1{border-bottom:0.12193em solid}
td#TBL-36-4-1{border-bottom:0.07622em solid}
td#TBL-36-10-1{border-bottom:0.12193em solid}
td#TBL-37-1-1{border-bottom:0.12193em solid}
td#TBL-37-9-1{border-bottom:0.12193em solid}
td#TBL-38-1-1{border-bottom:0.12193em solid}
td#TBL-38-8-1{border-bottom:0.12193em solid}
/* end css.sty */

